<div class="hero-unit">
<h1>房贷规则</h1>
<p> 合规、安全、给客户合理的组合是银行房贷业务的核心价值。</p>
<p>
  <a class="btn btn-large" href="/">返回</a>
</p>
</div>
<div>
<hr>
<p>首套房政策：对首次贷款购买商品住房，无论是新房还是二手房，首付款比例为30%及以上，利率为基准利率。</p>
<p>二套房政策：对贷款购买第二套住房的家庭，严格执行首付款比例不低60%、贷款利率不低于基准利率1.1倍的规定。</p>
<p>三套房政策：全面叫停三套房贷，各商业银行暂停发放居民家庭购买第三套及以上住房贷款。</p>
<hr>
<p></p>
<p>如果是外地户口，需要提供本地个人所税1年以上的证明， 或1年以上的社会劳动保险证明，否则不予购房。</p>
<hr>
<p></p>
<p>商业银行在贷款前需要向征信管理部门查询贷款人的信用报告，如果一个人有过不良的信用记录，如逾期不归还信用卡欠款等，且不良记录超过银行相关规定（信用评级为D）的话，不管其他条件如何，都无法获得贷款。如果没有查询到信用记录，也不能获得贷款。</p>
<hr>
<p></p>
<p>购房人应向银行提供收入证明。对于“共同贷款人”，不仅要求是为“贷款人”的直系亲属(夫妻、子女、父母)，还必须为住房贷款抵押物的房产所有者之一。主贷人和共同贷款人是夫妻关系除外。即使房产证上只有夫妻一方的名字，另一方也可以作为住房贷款的“共同贷款人”。贷款人每月的还贷额不能超过主贷款人和共同贷款人总月收入的三分之一。如果贷款人还有其他贷款，应在总收入中扣除。</p>
<p></p>
<hr>
<p>主贷人的年龄加上住房贷款的年限，男性不能超过65，女性不能超过60，住房贷款的期限最长为30年。此外，贷款年限加上房龄的总和不能超过40 年。</p>

</div>

