<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .radio-inline, .checkbox-inline {
            display: inline-block;
            padding-left: 20px;
            margin-bottom: 0;
            font-weight: 400;
            vertical-align: middle;
            cursor: pointer;
        }
    </style>
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/datepicker.css" rel="stylesheet">
  </head>
  <body>
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">分层测试演示程序</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">首頁</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="container" class="container">
      <%- body %>
      <hr />
      <footer class="footer">
	  <div class="container" style="text-align:center;">
        <p>Designed by <a href="http://www.agilean.cn/" target="_blank"> Agilean </a>2014</p>
      </div>
	  </footer>
    </div>
  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <!-- TODO: ask Chenhao -->
	<script src="/javascripts/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
	    $(function () {
	        $('#house_build_date').datepicker();
	    });
	</script>  
</html>
